
    .attribution { font-size: 0.6875rem; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    *{
        margin: auto;
        padding: 0;
        box-sizing: border-box;
    }
body{
    display: flex;
    flex-direction: column;
    background-color: hsl(254, 30%, 92%);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 800px;
    height: 735px;
}
.first{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 650px;
}
.create{
    border-radius: 10px;
    padding: 1.5rem;
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    background-color:  hsl(31, 66%, 93%);
}
.s1{color: hsl(256, 67%, 59%);}
.i1{width: 160px;}
.AI{
    border-radius: 10px;
    padding: 1.5rem;
    width: 220px;
    height: 325px;
    background-color:  hsl(39, 100%, 71%); 
}
.i2{width: 185px; height: 180px; padding-top: 10px;}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    height: 650px;
}
.second1{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.second2{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.ma{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    max-width: 400px;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    width: 400px;
    height: 220px;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    background-color: hsl(256, 67%, 59%);
}
.star{width: 200px;}
.s10{color:hsl(39, 100%, 71%) ;}
.man{
 background-color: hsl(0, 0%, 100%);
 color: black;
 font-size: 13px;
 width: 190px;
 border-radius: 10px;
 padding: 1rem;
}
.pla{width: 150px;}
.maint{
background-color: hsl(39, 100%, 71%);
 color: black;
 font-size: 10px;
 width:190px;
 height: 190px;
 border-radius: 10px;
 padding: 1rem;
}
.ill{
    width: 150px;
    height: 105px;
}
.schel{
    border-radius: 10px;
    padding: 1.5rem;
    height: 428px;
    width: 220px;
    background-color: hsl(254, 88%, 90%);
}
.post{
    width: 196px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
}
.fast{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.audience{
 background-color: hsl(0, 0%, 100%);
 color: black;
 font-size: 13px;
 width: 190px;
 height: 190px;
 border-radius: 10px;
 padding: 1rem;
}
.per{font-size: 40px;}
.aud{width: 150px; padding-top: 1rem;}
.grow{
     background-color: hsl(256, 67%, 59%);
 color: white;
 font-size: 20px;
 gap: 5px;
 display: flex;
 flex-direction: row;
 width: 430px;
 height: 190px;
 border-radius: 10px;
 padding: 1rem;
}
.fol{
    width: 200px;
    height: 150px;
}






